
/* vedio---------------------------------- */
.class_vedio{
    max-width: 980px;
    position: relative;
    height: 551px;
    overflow: hidden;
    margin: 0 auto;
    }
    
.class_vedio iframe, .class_vedio object, .class_vedio embed {    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    height: 100%;
}
@media screen and (max-width:768px){
    .sub_page_header{
        margin-bottom: 50px
    }
    .class_vedio{
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
    }
}
@media screen and (max-width:576px){
    .class_vedio iframe, .class_vedio object, .class_vedio embed{
        width: 100%;
    }
}
/* class info---------------------------- */
.class_info{
    text-align: center;
    padding-top: 80px;
}
.class_info .subtitle{
    margin-bottom: 30px;
}
.class_content_wrapper{
    background: #a13f6386;
    padding: 80px 0;
    line-height: 2;
    letter-spacing: 2px;
    margin: 50px 0 ;
    color: #eeeeee;
    position: relative;
}
.class_content_wrapper>div{
    flex-direction: row-reverse;
}
.class_content{
    flex: 1 1 0;
}
.class_content h4{
    display: inline-block;
    font-size: 1.6rem;
    padding: 1px 20px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}
.class_content h5{
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.class_content .time{
    color: #ffb2dd;
    border-bottom:1px dashed #ffb2dd;
}
.class_content p{
    color: #dddddd;
}
.class_content h6{
    font-size: 1.1rem;
    color: #ffb2dd;
    margin: 30px 0 20px;
}
.class_content a{
    font-size: 1.1rem;
    color:#351313;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    padding: 5px 20px 3px;
    background: #ff80ab;
}
/*----------class img---------------  */
.class_content_wrapper .img_container{
    width: 50%;
    height: 440px;
    background: url(../images/project/2I8A2481.jpg) center 60%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
}
.class_content_wrapper .img_container.classB{
    background: url(../images/project/project_KV.jpg) center 60%;
    background-size: cover;
    transform: translateX(100%);
}
.class_content figure{
    width: 85vw;
    height: 60vw;
    overflow: hidden;
    margin: 30px auto;
}
.class_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:768px){
    .class_content_wrapper>div{
        display: block;
    }
    .class_content_wrapper{
        padding: 0;
    }
    .class_content{
        padding: 50px 0
    }
    .class_content:first-child{
        padding: 50px 0 0;
    }
    .class_content:first-child::after{
        content: '';
        display: block;
        border-bottom: 2px dashed #eeeeee;
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;
    }
    
}
/* --classroom info-------------------- */
.classroom_info{
    text-align: center;
    color: #eeeeee;
    line-height: 1.7;
    letter-spacing: 2px;
    padding: 0 30px;
    position: relative;
}
.classroom_data{
    text-align: left;
    width: 65%;
    padding: 30px 80px;
    border:2px solid #ff80ab;
}
.classroom_data h4{
    display: inline-block;
    font-size: 1.7rem;
    padding:20px 0 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ff80ab;;
}
.classroom_data ul{
    padding-right: 12%;
}
.classroom_data li{
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.classroom_data i{
    padding-right: 5px;
    color: #ff80ab;
}
.classroom_pic{
    width: 85%;
    height: 180px;
    overflow: hidden;
    margin: 30px 0;
}
.classroom_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% center;
}
.map_container{
    width: 40%;
    position: absolute;
    right: 30px;
    top: 22%;
    padding-bottom: 380px;
    padding-top: 50px;
    height: 0;
    overflow: hidden;
}
.map_container iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px){
    .map_container{
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        padding-bottom: 200px;
    }
    .classroom_info{
        padding: 0 5%;
    }
    .classroom_data{
        text-align: left;
        width: 100%;
        margin:0 auto;
        padding:30px 10% 10%;
    }
    .classroom_data ul{
        padding-right: 0;
    }
    .classroom_pic{
        width: 100%;
    }
}

